<%- include layout/header.ejs %>

<div class="container" style="margin:25px 25px;font-size:1.8rem;">
  <div class="row">
    <div class="col-5">

    <% if (resError === true) { %>
      
      <div class="card" style="width: 18rem;">
        <h5 class="card-header">
          Erro!
        </h5>
        <div class="card-body">
          <h5 class="card-title">
            Não foi possível carregar os dados.
          </h5>
          <p class="card-text">
            <%= errorMsg %>
          </p>
        </div>
      </div>

    <% } else if (objStock['Global Quote'] === undefined) { %>
      
      <div class="card" style="width: 18rem;">
        <h5 class="card-header">
          Erro!
        </h5>
        <div class="card-body">
          <h5 class="card-title">
            Não foi possível encontrar a cotação para esse ativo.
          </h5>
          <p class="card-text">            
            <%= objStock['Error Message'] %>
          </p>
        </div>
      </div>

    <% } else { %>

      <div class="card" style="width: 18rem;">
        <h5 class="card-header">
          <%= objStock['Global Quote']['01. symbol'].replace('.SA', '') %>
        </h5>
        <div class="card-body">
          <h5 class="card-title">
            R$ <%= objStock['Global Quote']['05. price'] %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Variação <%= objStock['Global Quote']['10. change percent'] %>%
          </h6>
          <p class="card-text">            
            Data <%= objStock['Global Quote']['07. latest trading day'] %>
          </p>
        </div>
      </div>

    <% } %>         
    </div> 
    
  </div>


  <div class="row" style="margin-top: 10px;;">
    <div class="col-4">
      <a href="../stocks" style="font-size:1.2rem;padding-right:70px;"
          class="stretched-link float-right">Listar Ações</a>
    </div>
  </div>

</div>


<%- include layout/footer.ejs %>

<!-- {
  "Global Quote": {
    "01. symbol":"LINX3.SA",
    "02. open":"35.4200",
    "03. high":"35.7800",
    "04. low":"34.9800",
    "05. price":"35.1900",
    "06. volume":"470000",
    "07. latest trading day":"2020-01-29",
    "08. previous close":"35.4200",
    "09. change":"-0.2300",
    "10. change percent":"-0.6493%"
  }
} -->